<link href="style.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<div style="display: block;" class="all" id="all">
<img src="./images/radio.png" id="box">
<input id="spanfrequenz" maxlength="5" placeholder="00000" value="00000" disabled></input>
<div id="divchannel"><span id="spanchanneldisplay">CH</span><span id="spanchannel">1</span></div>
<button onclick="pressKey('cup', '0');" id="buttonCUP" ></button>
<button onclick="pressKey('cdown', '0');" id="buttonCDOWN" ></button>
<button onclick="pressKey('enter', '0');" id="buttonENT" ></button>
<button onclick="pressKey('number', '0');" id="button0" ></button>
<button onclick="pressKey('number', '1');" id="button1" ></button>
<button onclick="pressKey('number', '2');" id="button2" ></button>
<button onclick="pressKey('number', '3');" id="button3" ></button>
<button onclick="pressKey('number', '4');" id="button4" ></button>
<button onclick="pressKey('number', '5');" id="button5" ></button>
<button onclick="pressKey('number', '6');" id="button6" ></button>
<button onclick="pressKey('number', '7');" id="button7" ></button>
<button onclick="pressKey('number', '8');" id="button8" ></button>
<button onclick="pressKey('number', '9');" id="button9" ></button>
<button onclick="pressKey('back', '0');" id="buttonBack" ></button>
</div>
<script>
let funkfrequenz = 0;
let funkchannel = 1;
var audio = new Audio("key.mp3");
var radiotrue = new Audio("radiotrue.mp3");
var radiofalse = new Audio("radiofalse.mp3");
function open() {
document.getElementById("all").style.display="block";
$("#all").animate({
    'top': '15%'
}, 800);
}

function close() {
$("#all").animate({
    'top': '52%'
}, 800);
setTimeout(() => {
//document.getElementById("all").style.display="none";
}, 800);
}	
function setid() { 
    var funkid = document.getElementById("spanfrequenz");

    mp.trigger('Funk:SetID', funkid.value);
} 

function pressKey(action, key) { 
    var funkid = document.getElementById("spanfrequenz");
	var funkc = document.getElementById("spanchannel");
	if(action == "number"){
	    if(funkid.value.length !== 5){
	        funkid.value = funkid.value + key;
			audio.play();
		}
	}
	if(action == "back"){
	    if(funkid.value.length !== 0){
		    var cutlength = funkid.value;
	        funkid.value = cutlength.substr(0, cutlength.length-1);
			audio.play();
		}
	}
	if(action == "enter"){
		mp.trigger('Client:SetFunk', funkid.value, funkchannel);
		audio.play();
	}
	if(action == "cup"){
	    if(funkchannel !== 8){
		    funkchannel = parseInt(funkchannel) + parseInt(1);
			funkc.innerHTML = funkchannel;
			audio.play();
		}
	} else if(action == "cdown"){
	    if(funkchannel !== 1){
		    funkchannel = parseInt(funkchannel) - parseInt(1);
			funkc.innerHTML = funkchannel;
			audio.play();
		}
	}
}

function playRadio(state) {
  if(state == true){
    radiotrue.play();
  } else if(state == false){
    radiofalse.play();
  }
} 
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>