@font-face {
  font-family: "DS-Digital";

  src: url("./fonts/DS-DIGI.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
    background-repeat: no-repeat;
    background-size: 100% auto;
    user-select: none;
}

html {
    overflow-x: hidden;
	overflow-y: hidden;
}

.all {
	position: absolute;
	left: 83%;
	top: 52%;
}

#box {
    position: absolute;
    width: 15vw;
    height: 35vw;
    left: 37.3%;
    top: 12vw;
}

#spanfrequenz {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 11vw;
    height: 5vw;
	color: black;
	outline:0px;
	border: none;
    left: 3.6vw;
    top: 33.8vw;
	text-align: center;
	font-family: DS-Digital;
	font-size: 1.9vw;
}

#divchannel {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 11vw;
    height: 5vw;
	color: black;
	border: none;
    left: -0.2vw;
    top: 35.55vw;
	text-align: center;
	font-family: DS-Digital;
	font-size: 1.9vw;
}

#buttonCUP {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 2.2vw;
    height: 1vw;
	border: none;
	outline:0px;
    left: 9.5vw;
    top: 38.6vw;
}

#buttonCDOWN {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 2.2vw;
    height: 1vw;
	border: none;
	outline:0px;
    left: 4vw;
    top: 38.6vw;
}

#buttonENT {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 2.2vw;
    height: 1vw;
	border: none;
	outline:0px;
    left: 9.5vw;
    top: 39.8vw;
}

#buttonBACK {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 2.2vw;
    height: 1vw;
	border: none;
	outline:0px;
    left: 4vw;
    top: 44.9vw;
}

#button0 {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 2.2vw;
    height: 1vw;
	border: none;
	outline:0px;
    left: 6.5vw;
	top: 44.9vw;
}

#button1 {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 2.2vw;
    height: 1vw;
	border: none;
	outline:0px;
    left: 4vw;
    top: 41.1vw;
}

#button2 {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 2.2vw;
    height: 1vw;
	border: none;
	outline:0px;
    left: 6.5vw;
    top: 41.1vw;
}

#button3 {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 2.2vw;
    height: 1vw;
	border: none;
	outline:0px;
    left: 9.5vw;
    top: 41.1vw;
}

#button4 {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 2.2vw;
    height: 1vw;
	border: none;
	outline:0px;
    left: 4vw;
    top: 42.4vw;
}

#button5 {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 2.2vw;
    height: 1vw;
	border: none;
	outline:0px;
    left: 6.5vw;
    top: 42.4vw;
}

#button6 {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 2.2vw;
    height: 1vw;
	border: none;
	outline:0px;
    left: 9.5vw;
    top: 42.4vw;
}

#button7 {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 2.2vw;
    height: 1vw;
	border: none;
	outline:0px;
    left: 4vw;
    top: 43.6vw;
}

#button8 {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 2.2vw;
    height: 1vw;
	border: none;
	outline:0px;
    left: 6.5vw;
    top: 43.6vw;
}

#button9 {
    position: absolute;
	background: rgb(0, 0, 0, 0);
    width: 2.2vw;
    height: 1vw;
	border: none;
	outline:0px;
    left: 9.5vw;
    top: 43.6vw;
}